<h2>List Alarms</h2>
<ul class="alarms">
    <li *ngFor="let alarm of alarms" class="alarm" (click)="onSelect(alarm)" routerLink="/detail/{{alarm.name}}" routerLinkActive="active">
        <span>
            <b>Alarm</b>: {{alarm.name}}<br />
            <b>Refresh Rate</b>: {{alarm.refreshRateInMs}}<br />
            <b>Status</b>: {{alarm.status}}
        </span>
    </li>
</ul>
